body {
    background-image: url('./image6.jpg');
    color:cyan  ;
}

.rys {
    text-decoration: none;
    color:chartreuse

}.rys1 {
    text-align:center
}
.rys2
{
    text-decoration: none;
    background-color: navajowhite;
    padding: 5px;
    border-radius: 9px;


}
.rys3 {
    text-decoration:underline;
    border-radius: 100px;
    background-color:lightcyan;
    margin-left:40%;
    margin-right:40%;
    padding:-1px;
    color: mediumblue;
}
.rys4 {
   color:rgb(245, 219, 52)
}